.statistics {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.statlist{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.title{
    font-size: 20px;
    font-style: oblique;
    text-transform: uppercase;
    color:darkcyan;
    margin-top: 0px;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border: 1px gray;
    border-style: groove;
    box-shadow: 5px 5px 5px gray;
}

.item:last-child {
    margin-right: 0px;
}
.label
.percentage {
    font-size: 18px;
    font-style:unset;
}
.label{
    margin-bottom: 5px;
}
