.transactionhistory {
    width: 480px;
    margin-left: 10px;
    
}
.tableHistoryTitle{
    background-color: blue;
    color: white;
    height: 50px;
    text-transform: uppercase;
}
.amount{
    text-align: center;
    height: 30px;
    border: darkcyan double 2px;
}
.type{
    text-align: left;
    padding-left: 30px;
    border: darkcyan double 2px;
}